# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment directories
.env
.venv
env/
venv/
ENV/

# IDE specific files
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db

# Git related
.git
.gitignore

# Docker related
Dockerfile
.dockerignore
